<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <ul>
        <li><a href="/create-post">Create Post</a></li>
        <li>
            <form action="/auth/logout" method="POST">
                <input type="submit" value="Logout">
            </form>
        </li>
    </ul>
    <% if (userPosts.length >= 1) { %>
        <ul>
            <% for(let i = 0; i < userPosts.length; i++) { %>
                <li>
                    <a href="/posts/<%= userPosts[i].id %>"><%= userPosts[i].title %></a>
                </li>
            <% } %>
        </ul>
    <% } else { %>  
        <p>User has no posts. Create one <a href="/create-post">here!</a></p>
    <% } %>

    <% if (error) { %>
        <div>There was an error getting posts</div>
    <% } %>
</body>
</html>
